body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:186px;
  width:962px;
  height:314px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:30px;
  color:#FFFFFF;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:478px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:480px;
  height:30px;
  color:#FFFFFF;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:476px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:482px;
  height:36px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:30px;
  width:480px;
  height:36px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:482px;
  height:36px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:66px;
  width:480px;
  height:36px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:482px;
  height:36px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:102px;
  width:480px;
  height:36px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:476px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:482px;
  height:36px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:138px;
  width:480px;
  height:36px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:68px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:174px;
  width:482px;
  height:68px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:478px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:68px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:174px;
  width:480px;
  height:68px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:476px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:242px;
  width:482px;
  height:36px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:242px;
  width:480px;
  height:36px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:36px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:278px;
  width:482px;
  height:36px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:478px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:36px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:278px;
  width:480px;
  height:36px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:476px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:100px;
  width:601px;
  height:46px;
  font-size:40px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  white-space:nowrap;
}
