body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../视图-列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:81px;
    width:320px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:513px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../视图-列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:20px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../视图-列表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:26px;
    top:26px;
    width:308px;
    height:13px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../视图-列表_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:40px;
    width:320px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../视图-列表_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u8 {
    position:absolute;
    left:20px;
    top:80px;
    width:320px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:113px;
    top:55px;
    width:124px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../视图-列表_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:34px;
    top:53px;
    width:22px;
    height:22px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:22px;
    height:22px;
}

.u12 {
    position:absolute;
    left:2px;
    top:3px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:287px;
    top:55px;
    width:52px;
    height:25px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:31px;
}

.u14 {
    position:absolute;
    left:2px;
    top:4px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../视图-列表_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:20px;
    top:154px;
    width:320px;
    height:52px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:58px;
}

.u16 {
    position:absolute;
    left:2px;
    top:18px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:38px;
    top:170px;
    width:161px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../视图-列表_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:20px;
    top:206px;
    width:320px;
    height:47px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u19 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../视图-列表_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u20 {
    position:absolute;
    left:20px;
    top:199px;
    width:320px;
    height:10px;
    
}

.u21 {
    position:absolute;
    left:38px;
    top:221px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../视图-列表_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u22 {
    position:absolute;
    left:20px;
    top:248px;
    width:320px;
    height:10px;
    
}

.u23_normal {
    background-image: url('../视图-列表_files/u15_normal.png');
}

.u23_container {
    position:absolute;
    left:20px;
    top:254px;
    width:320px;
    height:52px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:58px;
}

.u24 {
    position:absolute;
    left:2px;
    top:18px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:38px;
    top:270px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../视图-列表_files/u18_normal.png');
}

.u26_container {
    position:absolute;
    left:20px;
    top:306px;
    width:320px;
    height:47px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u27 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../视图-列表_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u28 {
    position:absolute;
    left:20px;
    top:299px;
    width:320px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:38px;
    top:321px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../视图-列表_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u30 {
    position:absolute;
    left:20px;
    top:348px;
    width:320px;
    height:10px;
    
}

.u31_normal {
    background-image: url('../视图-列表_files/u15_normal.png');
}

.u31_container {
    position:absolute;
    left:20px;
    top:354px;
    width:320px;
    height:52px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:58px;
}

.u32 {
    position:absolute;
    left:2px;
    top:18px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:38px;
    top:373px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../视图-列表_files/u18_normal.png');
}

.u34_container {
    position:absolute;
    left:20px;
    top:406px;
    width:320px;
    height:47px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:53px;
}

.u35 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_line {
    background-image: url('../视图-列表_files/u36_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u36 {
    position:absolute;
    left:20px;
    top:399px;
    width:320px;
    height:10px;
    
}

.u37 {
    position:absolute;
    left:38px;
    top:421px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../视图-列表_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u38 {
    position:absolute;
    left:20px;
    top:448px;
    width:320px;
    height:10px;
    
}

.u39 {
    position:absolute;
    left:287px;
    top:170px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:287px;
    top:219px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:287px;
    top:271px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:287px;
    top:319px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:287px;
    top:370px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:287px;
    top:419px;
    width:47px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../视图-列表_files/u15_normal.png');
}

.u45_container {
    position:absolute;
    left:20px;
    top:101px;
    width:320px;
    height:52px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:58px;
}

.u46 {
    position:absolute;
    left:2px;
    top:18px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_line {
    background-image: url('../视图-列表_files/u47_line.png');
}

.u47_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u47 {
    position:absolute;
    left:20px;
    top:146px;
    width:320px;
    height:10px;
    
}

.u48 {
    position:absolute;
    left:38px;
    top:119px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:71px;
    top:558px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../视图-列表_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:284px;
    top:553px;
    width:42px;
    height:26px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:48px;
    height:32px;
}

.u51 {
    position:absolute;
    left:2px;
    top:5px;
    width:38px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../视图-列表_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:26px;
    top:554px;
    width:23px;
    height:23px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:23px;
    height:23px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:19px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../视图-列表_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:367px;
    top:81px;
    width:307px;
    height:236px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:313px;
    height:242px;
}

.u55 {
    position:absolute;
    left:2px;
    top:6px;
    width:303px;
    height:224px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

