body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../创作（空）_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:81px;
    width:320px;
    height:459px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:465px;
}

.u1 {
    position:absolute;
    left:2px;
    top:222px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../创作（空）_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:20px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../创作（空）_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:26px;
    top:26px;
    width:308px;
    height:13px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../创作（空）_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:40px;
    width:320px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../创作（空）_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u8 {
    position:absolute;
    left:20px;
    top:80px;
    width:320px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:144px;
    top:55px;
    width:80px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:86px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u11_container {
    position:absolute;
    left:20px;
    top:539px;
    width:320px;
    height:49px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:55px;
}

.u12 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:151px;
    top:104px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:348px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../创作（空）_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:20px;
    top:373px;
    width:320px;
    height:52px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:58px;
}

.u16 {
    position:absolute;
    left:2px;
    top:18px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:30px;
    top:393px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../创作（空）_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:20px;
    top:90px;
    width:320px;
    height:228px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:234px;
}

.u19 {
    position:absolute;
    left:2px;
    top:106px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../创作（空）_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:539px;
    width:320px;
    height:49px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:55px;
}

.u21 {
    position:absolute;
    left:2px;
    top:16px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../创作（空）_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:43px;
    top:542px;
    width:25px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:49px;
    top:543px;
    width:16px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../创作（空）_files/u22_normal.png');
}

.u25_container {
    position:absolute;
    left:102px;
    top:543px;
    width:25px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:109px;
    top:544px;
    width:16px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../创作（空）_files/u22_normal.png');
}

.u28_container {
    position:absolute;
    left:289px;
    top:543px;
    width:25px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:299px;
    top:544px;
    width:19px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../创作（空）_files/u22_normal.png');
}

.u31_container {
    position:absolute;
    left:229px;
    top:543px;
    width:25px;
    height:25px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:31px;
    height:31px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:235px;
    top:543px;
    width:16px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:104px;
    top:571px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:46px;
    top:570px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:233px;
    top:571px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:298px;
    top:571px;
    width:35px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../创作（空）_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:162px;
    top:543px;
    width:37px;
    height:37px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u39 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../创作（空）_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u40 {
    position:absolute;
    left:20px;
    top:531px;
    width:320px;
    height:10px;
    
}

.u41 {
    position:absolute;
    left:64px;
    top:120px;
    width:239px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:225px;
    top:210px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../创作（空）_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:96px;
    top:252px;
    width:180px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:39px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../创作（空）_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:306px;
    top:383px;
    width:19px;
    height:31px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:25px;
    height:37px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:15px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../创作（空）_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:367px;
    top:81px;
    width:286px;
    height:313px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:319px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:282px;
    height:288px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u49 {
    position:absolute;
    left:20px;
    top:96px;
    width:322px;
    height:430px;
    overflow:hidden;
}

#pd0u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:322px;
    height:430px;
    
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:429px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:321px;
    height:429px;
}

.u51 {
    position:absolute;
    left:2px;
    top:206px;
    width:317px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:236px;
    top:26px;
    width:64px;
    height:55px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:70px;
    height:61px;
}

.u53 {
    position:absolute;
    left:2px;
    top:20px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

