body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:81px;
    width:320px;
    height:507px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:513px;
}

.u1 {
    position:absolute;
    left:2px;
    top:246px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:20px;
    top:20px;
    width:320px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:26px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:26px;
    top:26px;
    width:308px;
    height:13px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:308px;
    height:13px;
}

.u5 {
    position:absolute;
    left:2px;
    top:-2px;
    width:304px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:20px;
    top:40px;
    width:320px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_line {
    background-image: url('../第一个章节发布-填写封面，标签_files/u8_line.png');
}

.u8_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u8 {
    position:absolute;
    left:20px;
    top:80px;
    width:320px;
    height:10px;
    
}

.u9_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u9_container {
    position:absolute;
    left:113px;
    top:55px;
    width:124px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:4px;
    width:120px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:18px;
    top:289px;
    width:320px;
    height:299px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:305px;
}

.u12 {
    position:absolute;
    left:2px;
    top:142px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:56px;
    top:152px;
    width:248px;
    height:106px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:254px;
    height:112px;
}

.u14 {
    position:absolute;
    left:2px;
    top:45px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:179px;
    top:187px;
    width:66px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:155px;
    top:180px;
    width:36px;
    height:41px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:77px;
    top:233px;
    width:217px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../第一个章节发布-填写封面，标签_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u18 {
    position:absolute;
    left:20px;
    top:334px;
    width:320px;
    height:10px;
    
}

.u19 {
    position:absolute;
    left:32px;
    top:391px;
    width:286px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:20px;
    top:301px;
    width:171px;
    height:33px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:177px;
    height:39px;
}

.u21 {
    position:absolute;
    left:2px;
    top:6px;
    width:167px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:36px;
    top:115px;
    width:295px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:419px;
    top:80px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:362px;
    top:96px;
    width:265px;
    height:266px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:271px;
    height:272px;
}

.u25 {
    position:absolute;
    left:2px;
    top:69px;
    width:261px;
    height:128px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:32px;
    top:471px;
    width:286px;
    height:33px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:39px;
}

.u27 {
    position:absolute;
    left:2px;
    top:8px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:17px;
    top:342px;
    width:320px;
    height:45px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u29 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../第一个章节发布-填写封面，标签_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:320px;
    height:3px;
}

.u30 {
    position:absolute;
    left:20px;
    top:378px;
    width:320px;
    height:10px;
    
}

.u31_normal {
    background-image: url('../第一个章节发布-填写封面，标签_files/u28_normal.png');
}

.u31_container {
    position:absolute;
    left:17px;
    top:392px;
    width:320px;
    height:45px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:326px;
    height:51px;
}

.u32 {
    position:absolute;
    left:2px;
    top:14px;
    width:316px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

