body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:1142px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:53px;
  width:560px;
  height:1142px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
